<!doctype html>
<html lang="en">
  {% include "header.html" %}


  <body>
    <title>Project-Map - Create Section</title>

    {% include "menu.html" %}

  <body class="bg-light">

    <div class="container">
      <div class="py-5 text-center">
        <h2>Creating Section for {{project.org.title}} - {{project.title}}</h2>
        <p class="lead">Use the form below to create a Section.</p>
      </div>

      <!-- start body row -->
      <div class="row">
        <div class="col-md-12 order-md-1">
          <form class="needs-validation" action='{{url_for('createSection', project_id=project.id)}}' method='post' novalidate>

            <!-- start row -->
            <div class="row">
              <div class="col-md-2 mb-3">
              </div>
              <div class="col-md-4 mb-3">
                <label for="title">Section title</label>
                <input type="text" class="form-control" id="title" name="title" required>
                <div class="invalid-feedback">
                  Please enter a valid title.
                </div>
              </div>
              <div class="col-md-4 mb-3">
                <div class="form-group">
                  <label for="authRequired">Authentication Required?</label>
                  <select class="form-control" id="authRequired" name="authRequired">
                    <option>No</option>
                    <option>Yes</option>
                  </select>
                </div>
              </div>
              <div class="col-md-2 mb-3">
              </div>
            </div>
            <!-- end row -->

            <!-- start row -->
            <div class=row>
              <div class="col-md-2 mb-3">
              </div>
              <div class="col-md-8 mb-3">
                <label for="description">Section Description</label>
                <textarea class="form-control" id="description" rows="3" name="description" required></textarea>
                <div class="invalid-feedback">
                  Please enter a valid description.
                </div>
              </div>
              <div class="col-md-2 mb-3">
              </div>
            </div>
            <!-- end row -->


            <!-- start row -->
            <div class=row>
              <div class="col-md-2 mb-3">
              </div>
              <div class="col-md-6 mb-3 mx-auto">
                <div class="form-group">
                  <label for="screen">Attach to Screen</label>
                  <select class="form-control" id="screen" name="screen">
                    {% for i in screens %}
                    <option value="{{i.id}}">{{i.title}}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <div class="col-md-2 mb-3">
              </div>
            </div>
            <!-- end row -->


            <hr class="mb-4">

            <div class="row">
              <div class="col-md-2 mb-3">
              </div>
              <div class="col-md-4 mb-3">
                <button class="btn btn-primary btn-lg btn-block" type="Edit">Continue</button>
              </div>
          </form>
              <div class="col-md-4 mb-3">
                <form action="{{url_for('projectPage', org_id=project.org.id, project_id=project.id)}}">
                  <button class="btn btn-secondary btn-lg btn-block" type="submit">Cancel</button>
                </form>
              </div>
              <div class="col-md-2 mb-3">
              </div>
            </div>
        </div>
      </div>
      <!-- end body row -->


    </div>

  {% include "footer.html" %}

  </body>
</html>
