<!-- Large modal -->
<!--<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Large modal</button>-->

<div class="modal bd-example-modal-lg" id="add-screen" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add a Screen</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="row">
          <div class="col-md-12 order-md-1">
            <!-- HARDCODED TO PROJECT_ID 1 UNTIL JAVASCRIPT SOLUTION RESOLVED -->
            <form class="needs-validation" action='{{url_for('newScreen', project_id="1")}}' method='post' novalidate>
              <input type="hidden" id="project_id" name="project_id" value="">
              <input type="hidden" id="org_id" name="org_id" value="">
              <input type="hidden" id="authRequired" name="authRequired" value="">
              <div class="row">
                <div class="col-md-6 mb-3">
                  <label for="screentitle">Screen title</label>
                  <input type="text" class="form-control" id="screentitle" placeholder="" name="screentitle" required>
                  <div class="invalid-feedback">
                    Valid screen title is required.
                  </div>
                </div>
              </div>

              <div class="mb-3">
                <label for="screendesc">Org Description <span class="test-muted">(Optional)</span></label>
                <input type="textarea" rows="3" class="form-control" id="screendesc" placeholder="The goal of this screen is..." name="screendesc">
                <div class="invalid-feedback">
                  Please enter a valid screen description.
                </div>
              </div>

              <hr class="mb-4">
              <div class="row">
                <div class="col-md-6 mb-3">
                  <button class="btn btn-primary btn-lg btn-block" type="Create">Continue</button>
                </div>
            </form>
                <div class="col-md-6 mb-3">
                  <form action="/">
                    <button class="btn btn-secondary btn-lg btn-block" type="submit">Cancel</button>
                  </form>
                </div>
              </div>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>
