<!-- Large modal -->
<!--<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Large modal</button>-->

<div class="modal bd-example-modal-lg" id="edit-org-details" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Org Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="row">
          <div class="col-md-12 order-md-1">
            <form class="needs-validation" action='{{url_for('editOrg', org_id=org.id)}}' method='post' novalidate>
              <div class="row">
                <div class="col-md-6 mb-3">
                  <label for="orgtitle">Org title</label>
                  <input type="text" class="form-control" id="orgtitle" placeholder="{{org.title}}" name="orgtitle" required>
                  <div class="invalid-feedback">
                    Valid Org name is required.
                  </div>
                </div>
              </div>

              <div class="mb-3">
                <label for="orgdesc">Org Description <span class="test-muted">(Optional)</span></label>
                <input type="text" class="form-control" id="orgdesc" placeholder="{{org.description}}" name="orgdesc">
                <div class="invalid-feedback">
                  Please enter a valid org description.
                </div>
              </div>

              <hr class="mb-4">
              <div class="row">
                <div class="col-md-6 mb-3">
                  <button class="btn btn-primary btn-lg btn-block" type="Edit">Continue</button>
                </div>
            </form>
                <div class="col-md-6 mb-3">
                  <form action="{{url_for('orgPage', org_id = org.id)}}">
                    <button class="btn btn-secondary btn-lg btn-block" type="submit">Cancel</button>
                  </form>
                </div>
              </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
