<!-- Large modal -->
<!--<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Large modal</button>-->

<div class="modal bd-example-modal-lg" id="story-composer" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Write a User Story</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <!-- start body row -->
        <div class="row">
          <div class="col-md-12">
            <form class="form-horizontal needs-validation" action='{{url_for('newStory', project_id=project.id)}}' method='post' novalidate>
              <fieldset>
            <div class="row">
              <!-- spacer -->
              <div class="col-md-2">
              </div>

              <!-- form -->
              <div class="col-md-8">

                <!-- Select Basic Role-->
                <div class="form-group row">
                  <label class="col-md-3 control-label" style="text-align:right;" for="role_id">As a(n):</label>
                  <div class="col-md-9">
                    <select id="role_id" name="role_id" class="form-control">
                      {% for i in roles %}
                        <option value="{{i.id}}">{{i.title}}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>

                <!-- Text input Screen -->
                <div class="form-group row">
                  <label class="col-md-3 control-label" style="text-align:right;" for="screen_id">on the</label>
                  <div class="col-md-9">
                  <input id="screen_id" name="screen_id" type="hidden" class="form-control input-md" value="{{screen.id}}" required="">
                  {{screen.title}} screen,

                  </div>
                </div>

                <!-- Text input Action -->
                <div class="form-group row">
                  <label class="col-md-3 control-label" style="text-align:right;" for="action">when I __</label>
                  <div class="col-md-9">
                  <input id="action" name="action" type="text" placeholder=' "view", "select", etc.' class="form-control input-md" required="">

                  </div>
                </div>

                <!-- Select Basic Hook -->
                <div class="form-group row">
                  <label class="col-md-3 control-label" style="text-align:right;" for="hook">the __,</label>
                  <div class="col-md-9">
                    <select id="hook" name="hook" class="form-control">
                      <option value="{{screen.id}}_scr">Screen</option>
                      {% for i in ss %}
                        <option value="{{i.section.id}}_s">Section: {{i.section.title}}</option>
                        {% for b in se %}
                          {% if b.section.id == i.section.id %}
                            <option value="{{b.element.id}}_e">Element: {{b.element.title}}</option>
                          {% endif %}
                        {% endfor %}
                      {% endfor %}
                    </select>
                  </div>
                </div>

                <!-- Textarea Expectation-->
                <div class="form-group row">
                  <label class="col-md-3 control-label" style="text-align:right;" for="expectation">__.</label>
                  <div class="col-md-9">
                    <textarea class="form-control" id="expectation" name="expectation">"I should..."</textarea>
                  </div>
                </div>
                <!-- end form -->

              </fieldset>

              <hr class="mb-4">

              <!-- continue/cancel -->
              <div class="row">
                <div class="col-md-6 mb-3">
                  <button class="btn btn-primary btn-lg btn-block" type="Create">Continue</button>
                </div>
            </form>
                <div class="col-md-6 mb-3">
                  <form action="{{url_for('screenStory', screen_id=screen.id)}}">
                    <button class="btn btn-secondary btn-lg btn-block" type="submit">Cancel</button>
                  </form>
                </div>
              </div>
              <!-- end continue/cancel -->

            </div>
            <div class="col-md-2">
            </div>


          </div>
        </div>
        <!-- end body row -->


      </div>
    </div>
  </div>
</div>
