<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Project-Map - Edit {{org.title}}</title>

    <!-- Bootstrap core CSS -->
    <link href="../../../../static/styles.css" rel="stylesheet">

  </head>


  <body>

    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="/">Project-Map</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
          </li>
        </ul>
        <form class="form-inline mt-2 mt-md-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>

  <body class="bg-light">

    <div class="container">
      <div class="py-5 text-center">
        <img class="d-block mx-auto mb-4" src="../../assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
        <h2>Editing {{org.title}}</h2>
        <p class="lead">Use the form below to edit {{org.title}},
        but be careful!</p>
      </div>

      <div class="row">
        <div class="col-md-12 order-md-1">
          <form class="needs-validation" action='{{url_for('editOrg', org_id=org.id)}}' method='post' novalidate>
            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="orgtitle">Org title</label>
                <input type="text" class="form-control" id="orgtitle" placeholder="{{org.title}}" name="orgtitle" required>
                <div class="invalid-feedback">
                  Valid Org name is required.
                </div>
              </div>
            </div>

            <div class="mb-3">
              <label for="orgdesc">Org Description <span class="test-muted">(Optional)</span></label>
              <input type="text" class="form-control" id="orgdesc" placeholder="{{org.description}}" name="orgdesc">
              <div class="invalid-feedback">
                Please enter a valid org description.
              </div>
            </div>

            <hr class="mb-4">
            <div class="row">
              <div class="col-md-6 mb-3">
                <button class="btn btn-primary btn-lg btn-block" type="Edit">Continue</button>
              </div>
          </form>
              <div class="col-md-6 mb-3">
                <form action="{{url_for('orgPage', org_id = org.id)}}">
                  <button class="btn btn-secondary btn-lg btn-block" type="submit">Cancel</button>
                </form>
              </div>
            </div>
        </div>
      </div>
    </div>

  {% include "footer.html" %}

  </body>
</html>
