<footer class="footer">
  <div class="container">
    <span class="text-muted">Copyright © 2018 Joshua Peek. All Rights Reserved.</span>
    <span style="float:right;">
      <span class="text-muted">Powered by:</span>
      <a href="http://flask.pocoo.org/"><img src="../../../static/images/flask.png" height="25px"></a>
      <a href="https://www.python.org/"><img src="../../../static/images/python.png" height="25px"></a>
      <a href="https://www.udacity.com/"><img src="../../../static/images/udacity.png" height="25px"></a>
      <span class="text-muted">and viewers like <i>you</i>.</span>
    </span>
  </div>
</footer>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../../static/js/jquery-slim.min.js"><\/script>')</script>
<script src="../../../static/js/vendor/popper.min.js"></script>
<script src="../../../static/js/bootstrap.min.js"></script>
