<!doctype html>
<html lang="en">
  {% include "header.html" %}


  <body>
    <title>SoCon Project-Map</title>

  {% include "orgsmodal.html" %}
  {% include "projectsmodal.html" %}

    <main role="main" class="container">
      <div class="jumbotron">
        <h1>Welcome to SoCon Project-Map</h1>
        <p class="lead">A tool for making sense of requirements gathering,
          developed by Joshua Peek.</p>
        <!--<a class="btn btn-lg btn-primary" href="../../components/navbar/" role="button">View navbar docs &raquo;</a>-->
      </div>

      <div class="container">
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-md-4">
            <h2>Quick Links</h2>
              <p><button type="button" class="btn btn-secondary btn-block" data-toggle="modal" data-target="#org-select">Adjust Orgs &raquo;</button></p>
              <p><button type="button" class="btn btn-secondary btn-block" data-toggle="modal" data-target="#project-select">Adjust Projects &raquo;</button></p>
          </div>
          <div class="col-md-8">
            <h2>Projects</h2>
              <table class="table table-responsive table-sm table-hover" width="100%">
                <thead class="thead-light">
                  <tr>
                    <th scope="col" width="45px">#</th>
                    <th scope="col" width="80px">Title</th>
                    <th scope="col" width="425px"></th>
                    <th scope="col" width="95px"></th>
                    <th scope="col" width="65px"></th>
                  </tr>
                </thead>
                <tbody>
                  {% for i in allprojects %}
                  <tr>
                    <th scope="row">{{loop.index}}</th>
                    <td>{{i.org.title}}</td>
                    <td>{{i.title}}</td>
                    <td><a href='{{url_for('projectPage', org_id = i.org.id,  project_id = i.id)}}'>Dashboard</a></td>
                    <td><a href='{{url_for('delProject', org_id = i.org.id,  project_id = i.id)}}'>Delete</a></td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>

            <!--
            {% for i in projects %}
              <b>{{i.org.title}} - {{i.title}}</b>
              <a href='{{url_for('projectPage',
                org_id = i.org.id,
                project_id = i.id)}}'>Click Here</a><br>
              {{i.description}}<br><br>
            {% endfor %}
            -->
          </div>


        </div>
      </div>

    </main>

  {% include "footer.html" %}

  </body>
</html>
