<!doctype html>
<html lang="en">
  {% include "header.html" %}
  <body>
    <title>SoCon Project-Map</title>

  {% include "modals/allorgs.html" %}
  {% include "modals/allprojects.html" %}
  {% include "modals/createfunctiongroup.html" %}
  {% include "modals/createorg.html" %}
  {% include "modals/createproject.html" %}
  {% include "modals/createuser.html" %}

    <main role="main" class="container">
      <div class="jumbotron">
        <h1>Welcome to SoCon Project-Map</h1>
        <p class="lead">A tool for making sense of requirements gathering,
          developed by Joshua Peek.</p>
        <!--<a class="btn btn-lg btn-primary" href="../../components/navbar/" role="button">View navbar docs &raquo;</a>-->
      </div>

      <div class="container">
        <!-- Example row of columns -->
        <div class="row mb-4">
          <div class="col-md-4">
            <h3>Projects</h3>
            View all Projects in the system.
            <!--<p><button type="button" class="btn btn-secondary btn-block" data-toggle="modal" data-target="#add-org">Add an Org &raquo;</button></p>
            <p><button type="button" class="btn btn-secondary btn-block" data-toggle="modal" data-target="#add-project">Add a Project &raquo;</button></p>
            <form action="#">-->
              <!--<p><button type="button" class="btn btn-secondary btn-block">Adjust a Template &raquo;</button></p>-->
            <!--</form>-->
            <!--<p><button type="button" class="btn btn-secondary btn-block" data-toggle="modal" data-target="#org-select">Adjust Orgs &raquo;</button></p>-->
            <!--<p><button type="button" class="btn btn-secondary btn-block" data-toggle="modal" data-target="#project-select">Adjust Projects &raquo;</button></p>-->
          </div>
          <div class="col-md-8">
              <table class="table table-responsive table-sm table-hover" width="100%">
                <thead class="thead-light">
                  <tr>
                    <th scope="col" width="45px">#</th>
                    <th scope="col" width="80px">Org</th>
                    <th scope="col" width="425px">Project</th>
                    <th scope="col" width="95px"></th>
                    <th scope="col" width="65px"></th>
                  </tr>
                </thead>
                <tbody>
                  {% for i in allprojects %}
                  <tr>
                    <th scope="row">{{loop.index}}</th>
                    <td>{{i.org.title}}</td>
                    <td>{{i.title}}</td>
                    <td><a href='{{url_for('projectPage', org_id = i.org.id,  project_id = i.id)}}'>Dashboard</a></td>
                    <td><a href='{{url_for('delProject', org_id = i.org.id,  project_id = i.id)}}'>Delete</a></td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            <span style="float:right;">
              <p><button type="button" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#add-project">Add a Project &raquo;</button></p>
            </span>
          </div>
        </div>

        <!-- Orgs Row -->
        <div class="row mb-4">
          <div class="col-md-4">
            <h3>Orgs</h3>
              <p>View all Orgs in the system.</p>
          </div>
          <div class="col-md-8">
              <table class="table table-responsive table-sm table-hover" width="100%">
                <thead class="thead-light">
                  <tr>
                    <th scope="col" width="55px">#</th>
                    <th scope="col" width="501px">Title</th>
                    <th scope="col" width="70px"></th>
                    <th scope="col" width="70px"></th>
                    <th scope="col" width="70px"></th>
                  </tr>
                </thead>
                <tbody>
                  {% for i in allorgs %}
                  <tr>
                    <th scope="row">{{loop.index}}</th>
                    <td>{{i.title}}</td>
                    <td><a href='{{url_for('orgPage', org_id = i.id)}}'>View</a></td>
                    <td><a href='{{url_for('editOrg', org_id = i.id)}}'>Edit</a></td>
                    <td><a href='{{url_for('delOrg', org_id = i.id)}}'>Delete</a></td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            <span style="float:right;">
              <p><button type="button" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#add-org">Add an Org &raquo;</button></p>
            </span>
          </div>
        </div>
        <!-- Orgs Row End -->

        <!-- Users Row -->
        <div class="row mb-4">
          <div class="col-md-4">
            <h3>Users</h3>
              <p>View all Users in the system.</p>
          </div>
          <div class="col-md-8">
              <table class="table table-responsive table-sm table-hover" width="100%">
                <thead class="thead-light">
                  <tr>
                    <th scope="col" width="55px">#</th>
                    <th scope="col" width="165px">First</th>
                    <th scope="col" width="165px">Last</th>
                    <th scope="col" width="50px">Access</th>
                    <th scope="col" width="300px">Org</th>
                    <th scope="col" width="50px"></th>
                    <th scope="col" width="51px"></th>
                  </tr>
                </thead>
                <tbody>
                  {% for i in userOrgs %}
                  <tr>
                    <th scope="row">{{loop.index}}</th>
                    <td>{{i.user.firstname}}</td>
                    <td>{{i.user.lastname}}</td>
                    <td>
                      {% if i.access == "0" %}
                      None
                      {% elif i.access == "1" %}
                      Read
                      {% elif i.access == "2" %}
                      Edit
                      {% else %}
                      Error
                      {% endif %}
                    </td>
                    <td>{{i.org.title}}</td>
                    <td>Edit</td>
                    <td><a href='{{url_for('delUser', user_id = i.user.id)}}'>Delete</a></td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            <span style="float:right;">
              <p><button type="button" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#add-user">Add a User &raquo;</button></p>
            </span>
          </div>
        </div>
        <!-- Users Row End


      </div>

    </main>

  {% include "footer.html" %}

  </body>
</html>
