<!-- prepare allorgs & allprojects modals -->
{% if allorgs is defined %}
{% include "modals/allorgs.html" %}
{% endif %}

{% if allprojects is defined %}
{% include "modals/allprojects.html" %}
{% endif %}

<!-- Menu -->
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="/">Project-Map</a>
  <!-- hamburger icon -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">

      <!-- Org Link -->
      {% if org is defined %}
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('orgPage', org_id=org.id)}}">{{org.title}}</a>
      </li>
      {% endif %}
      <!-- END Org Link -->

      {% if project is defined %}
      <li class="nav-item">
        <span class="nav-link">:</span>
      </li>

      <!-- Project Link -->
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('projectPage', org_id=project.org.id,
          project_id=project.id)}}">{{project.title}}
        </a>
      </li>
      {% endif %}
      <!-- END Project Link -->


      <!-- Screen(s) Dropdown -->
      {% if screens is defined %}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Screens
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          {% for i in screens %}
            <a class="dropdown-item" href="{{url_for('screenPage',
              project_id=i.project.id, screen_id=i.id)}}">{{i.title}}</a>
          {% endfor %}
        </div>
      </li>
      {% endif %}
      <!-- END Screens Dropdown -->

      <!-- Stories(s) Dropdown -->
      {% if screens is defined %}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          User Stories
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          {% for i in screens %}
            <a class="dropdown-item" href="{{url_for('screenStory',
              screen_id=i.id)}}">{{i.title}} screen</a>
          {% endfor %}
        </div>
      </li>
      {% endif %}
      <!-- END Stories Dropdown -->


    </ul>

    <!-- Orgs & Projects buttons -->
    {% if allorgs is defined %}
    {% include "modals/allorgs.html" %}
    <button type="button" class="btn btn-secondary btn-sm my-2 my-sm-0" data-toggle="modal" data-target="#org-select">Orgs &raquo;</button>&nbsp;
    {% endif %}
    {% if allprojects is defined %}
    <button type="button" class="btn btn-secondary btn-sm my-2 my-sm-0" data-toggle="modal" data-target="#project-select">Projects &raquo;</button>&nbsp;
    {% endif %}
    <!-- END Orgs & Projects buttons -->

  </div>
</nav>
<!-- End Menu -->
