<!doctype html>
<html lang="en">
  {% include "header.html" %}


  <body>
    <title>Project-Map - {{org.title}}</title>

    {% include "modals/allorgs.html" %}
    {% include "modals/allprojects.html" %}
    {% include "modals/createproject.html" %}
    {% include "modals/createorg.html" %}
    {% include "modals/editorgdetails.html" %}

    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="/">Project-Map</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
          </li>
        </ul>
        <button type="button" class="btn btn-secondary my-2 my-sm-0" data-toggle="modal" data-target="#org-select">Orgs &raquo;</button>&nbsp;
        <button type="button" class="btn btn-secondary my-2 my-sm-0" data-toggle="modal" data-target="#project-select">Projects &raquo;</button>&nbsp;
        <form class="form-inline mt-2 mt-md-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>

    <main role="main" class="container">
      <div class="jumbotron" style="padding:1rem 2rem;">
        <h1>{{org.title}}</h1>
        <p class="lead">{{org.description}}</p>
        <button type="button" class="btn btn-md btn btn-outline-light" data-toggle="modal" data-target="#edit-org-details">Edit Details &raquo;</button>
      </div>

<!-- Projects Row -->
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <h3>Projects</h3>
              <p>Description</p>
              <p><button type="button" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#add-project">Add a Project &raquo;</button></p>
              <br>
          </div>
          <div class="col-md-9">
            <table class="table table-responsive table-sm table-hover" width="100%">
              <thead class="thead-light">
                <tr>
                  <th scope="col" width="35px">#</th>
                  <th scope="col" width="30px"></th>
                  <th scope="col" width="140px">Title</th>
                  <th scope="col" width="527px">Description</th>
                  <th scope="col" width="70px"></th>
                </tr>
              </thead>
              <tbody>
                {% for i in projects %}
                <tr>
                  <th scope="row">{{loop.index}}</th>
                  <td>Edit</td>
                  <td>{{i.title}}</td>
                  <td>{{i.description}}</td>
                  <td><a href="{{url_for('projectPage', org_id = i.org.id,  project_id = i.id)}}">Dashboard</a></td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
<!-- Projects Row END -->

    </main>

  {% include "footer.html" %}

  </body>
</html>
