<!doctype html>
<html lang="en">
  {% include "header.html" %}


  <body>
    <title>{{org.title}} - {{project.title}}</title>

    {% include "modals/createrole.html" %}
    {% include "modals/createscreen.html" %}
    {% include "modals/createfunction.html" %}
    {% include "modals/createfunctiongroup.html" %}
    {% include "modals/createscreen.html" %}
    {% include "modals/createproject.html" %}
    {% include "modals/createorg.html" %}
    {% include "modals/editprojectdetails.html" %}
    {% include "menu.html" %}


<!-- Jumbotron -->
    <main role="main" class="container">
      <div class="jumbotron" style="padding:1rem 2rem;background-image:linear-gradient(to bottom right, #13cdf2, #47e5bc);">
        <h2>{{org.title}} - {{project.title}}</h2>
        <p class="lead">{{project.description}}
          {% if project.description == "" %}<br>{% endif %}</p>
        <button type="button" class="btn btn-sm btn btn-outline-light" data-toggle="modal" data-target="#edit-project-details">Edit Details &raquo;</button>
      </div>
<!-- End Jumbotron -->


      <!-- VISUAL User Roles Row -->
            <div class="container">
              <!-- Header Row -->
              <div class="row">
                <div class="col-md-12 mb-1">
                  <h4>User Roles</h4>
                </div>
              </div>
              <!-- END Header Row -->

              <!-- Card Row -->
              <div class="row">

                {% for i in roles %}
                <!-- ROLE Card -->
                <div class="col-md-3" style="margin-bottom:2rem;">
                  <div class="card mx-auto">
                    <div class="card-body mx-auto" style="word-break:unset;">
                      <center><img src="../../../static/images/profile.png" width="30%"></center><br>
                      <h5 class="card-title">{{i.title}}</h5>
                      <p class="card-text">{{i.description}}
                        {% if authRequired != "" %}<i style="font-size: .75rem;color: #bbb;">(Authenticated: {{i.authRequired}})</i>{% endif %}</p>
                      <!--<a href="#" class="btn btn-sm btn-secondary" style="float:right;">Click Here</a>-->
                      <span style="float:right;"><a href="{{url_for('editRole', role_id = i.id)}}" class="btn btn-sm btn-primary">Edit</a>&nbsp;
                      <a href="{{url_for('delRole', role_id = i.id)}}" class="btn btn-sm btn-outline-danger">Delete</a></span>
                    </div>
                  </div>
                </div>
                <!-- END Role Card -->
                {% endfor %}


                <!-- GHOST Role Card -->
                <div class="col-md-2" style="margin-bottom:2rem;">
                  <div class="card mx-auto" style="background-clip: text;color: #999;border: 0px solid #C9C9C9;">
                    <div class="card-body">
                      <!-- <center><img src="../../../static/images/profile.png" width="50%"></center><br> -->
                      <!--<h5 class="card-title">Need More?</h5>-->
                      <!--<a href="#" class="btn btn-sm btn-secondary" style="float:right;">Click Here</a>-->
                      <center>
                        <a type="button" data-toggle="modal" data-target="#add-role" href="#add-role">
                          <img src="../../static/images/plus.png" width="70%">
                        </a>
                        <p style="color:#999;text-size:.75rem;">Add an Element</p>
                      </center>
                    </div>
                  </div>
                </div>
                <!-- END Ghost -->


              </div>
              <!-- END Card Row -->

            </div>
      <!-- User VISUAL Roles Row END -->

      <hr>

<!-- Screens IMAGE Row -->
      <div class="container">
        <div class="row">
          <div class="col-md-12 mb-1">
            <h4>Screens</h4>
          </div>
        </div>

        <!-- Card Row -->
        <div class="row">

        <!-- Screen Card -->
          {% for i in screens %}
          <div class="col-md-4" style="margin-bottom:2rem;">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">{{i.title}}</h5>
                <p class="card-text">{{i.description}}</p>
                <span style="float:right;"><a href="{{url_for('screenPage', project_id = project.id, screen_id=i.id)}}" class="btn btn-sm btn-primary">View</a>&nbsp;
                <a href="{{url_for('delScreen', screen_id = i.id)}}" class="btn btn-sm btn-outline-danger">Delete</a></span>
              </div>
            </div>
          </div>
          {% endfor %}
          <!-- END Screen Card -->

          <!-- ADD Ghost-Box -->
          <div class="col-md-2" style="margin-bottom:2rem;">
            <div class="card" style="background-clip: text;color: #999;border: 0px solid #C9C9C9;">
              <div class="card-body">
                <center>
                  <a type="button" data-toggle="modal" data-target="#add-screen" href="#add-screen">
                    <img src="../../static/images/plus.png" width="70%">
                  </a>
                  <p style="color:#999;text-size:.75rem;">Add a Screen</p>
                </center>
              </div>
            </div>
          </div>
          <!-- END Ghost-Box -->

        </div>
      </div>
<!-- Screens Row END -->

    </main>

  {% include "footer.html" %}

  </body>
</html>
