<!-- Large modal -->
<!--<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Large modal</button>-->

<div class="modal fade bd-example-modal-lg" id="project-select" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Orgs</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table table-responsive table-sm table-hover">
          <thead class="thead-light">
            <tr>
              <th scope="col" width="55px">#</th>
              <th scope="col" width="96px">Title</th>
              <th scope="col" width="435px"></th>
              <th scope="col" width="105px"></th>
              <th scope="col" width="75px"></th>
            </tr>
          </thead>
          <tbody>
            {% for i in allprojects %}
            <tr>
              <th scope="row">{{loop.index}}</th>
              <td>{{i.org.title}}</td>
              <td>{{i.title}}</td>
              <td><a href='{{url_for('projectPage', org_id = i.org.id,  project_id = i.id)}}'>Dashboard</a></td>
              <td><a href='{{url_for('delProject', org_id = i.org.id,  project_id = i.id)}}'>Delete</a></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <!-- Need "create a project" form with dropdown of avail orgs -->
        <a class="btn btn-primary" href="#" role="button">Add a Project &raquo;</a>
        <!--<button type="button" class="btn btn-primary">Save changes</button>-->
      </div>
    </div>
  </div>
</div>
