<!doctype html>
<html lang="en">
  {% include "header.html" %}


  <body>
    <title>Project-Map - {{org.title}} - {{project.title}}</title>

    {% include "orgsmodal.html" %}
    {% include "projectsmodal.html" %}
    {% include "rolemodal.html" %}
    {% include "screenmodal.html" %}
    {% include "functionmodal.html" %}
    {% include "functiongroupmodal.html" %}

    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="/">Project-Map</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{org.title}} Projects
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              {% for i in projects %}
                <a class="dropdown-item" href="{{url_for('projectPage', org_id = org.id,
                         project_id = i.id)}}">{{i.title}}</a>
              {% endfor %}
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{{url_for('orgPage',
                org_id=org.id)}}">{{org.title}} Main</a>
            </div>
          </li>
          <li class="nav-item">
            <span class="nav-link disabled">Currently viewing: {{org.title}} - {{project.title}}</span>
          </li>
        </ul>
        <button type="button" class="btn btn-secondary my-2 my-sm-0" data-toggle="modal" data-target="#org-select">Orgs &raquo;</button>&nbsp;
        <button type="button" class="btn btn-secondary my-2 my-sm-0" data-toggle="modal" data-target="#project-select">Projects &raquo;</button>&nbsp;
        <form class="form-inline mt-2 mt-md-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>

    <main role="main" class="container">
      <div class="jumbotron">
        <h1>{{org.title}} - {{project.title}}</h1>
        <p class="lead">{{project.description}}</p>
        <!--<a class="btn btn-lg btn-primary" href="../../components/navbar/" role="button">View navbar docs &raquo;</a>-->
      </div>

      <div class="container">
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-md-3">
            <h2>User Roles</h2>
              {% for i in roles %}
                <b>{{i.title}}</b><br>
                • {{i.description}}<br><br>
              {% endfor %}
              <p><button type="button" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#add-role">Add a Role &raquo;</button></p>
            <!--<p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>-->
          </div>
          <div class="col-md-9">
            <h2>Screens</h2>
            <table class="table table-responsive table-sm table-hover" width="100%">
              <thead class="thead-light">
                <tr>
                  <th scope="col" width="35px">#</th>
                  <th scope="col" width="40px"></th>
                  <th scope="col" width="200px">Title</th>
                  <th scope="col" width="457px">Description</th>
                  <th scope="col" width="70px">Private</th>
                </tr>
              </thead>
              <tbody>
                {% for i in screens %}
                <tr>
                  <th scope="row">{{loop.index}}</th>
                  <td>Edit</td>
                  <td>{{i.title}}</td>
                  <td>{{i.description}}</td>
                  <td>{{i.authRequired}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>

            <p><button type="button" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#add-screen">Add a Screen &raquo;</button></p>
            <!--<p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>-->
          </div>
        </div>
      </div>

        <hr>

      <div class="container">
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-md-12">
            <h2>Functions</h2>
            {% for i in functions %}
              <b>{{i.title}}</b><br>
              {{i.description}}<br><br>
            {% endfor %}
            <p><button type="button" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#add-function">Add a Function &raquo;</button>&nbsp;&nbsp;
            <button type="button" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#add-function-group">Add a Function Group &raquo;</button></p>
            <!--<p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>-->
          </div>
        </div>
      </div> <!-- /container -->

    </main>

  {% include "footer.html" %}

  </body>
</html>
