<!doctype html>
<html lang="en">
  {% include "header.html" %}


  <body>
    <title>Project-Map - {{org.title}} - {{project.title}}</title>

    {% include "modals/createrole.html" %}
    {% include "modals/createscreen.html" %}
    {% include "modals/createfunction.html" %}
    {% include "modals/createfunctiongroup.html" %}
    {% include "modals/createscreen.html" %}
    {% include "modals/createproject.html" %}
    {% include "modals/createorg.html" %}
    {% include "modals/editprojectdetails.html" %}
    {% include "menu.html" %}


<!-- Jumbotron -->
    <main role="main" class="container">
      <div class="jumbotron" style="padding:1rem 2rem;">
        <div style="float:right;text-align:right;">
          <p class=lead>User Stories output as:</p>
          <i>"As a(n) <kbd>&lt;User Role Title&gt;</kbd>,<br>
            on <kbd>&lt;Screen Title&gt;</kbd> screen,<br>
          When I <kbd>&lt;Action Description&gt;</kbd>,<br>
          <kbd>&lt;Story Description&gt;</kbd>."</i>
        </div>
        <h1>{{org.title}} - {{project.title}}</h1>
        <p class="lead">{{project.description}}</p>
        <button type="button" class="btn btn-md btn btn-outline-light" data-toggle="modal" data-target="#edit-project-details">Edit Details &raquo;</button>
      </div>
<!-- End Jumbotron -->


<!-- Instructions Row -->
<div class="container">
  <div class="row">
    <div class="col-md-8 mb-2 mx-auto">
      <!--
      <p class=lead>
        User Stories will output as follows:<br>
        <i>"As a(n) <code>&lt;User Role Title&gt;</code> on <code>&lt;Screen Title&gt;</code> screen, <code>&lt;Function Description&gt;</code>."</i>
      </p>
      -->
    </div>
  </div>
</div>
<!-- End Instructions -->


<!-- User Roles Row -->
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <h3>User Roles</h3>
              <p>Description</p>
              <!--<p><button type="button" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#add-role">Add a Role &raquo;</button></p>-->
              <p><button type="button" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#add-role">Add a User Role &raquo;</button></p>
                <br>
              <br>
          </div>
          <div class="col-md-9">
            <table class="table table-responsive table-sm table-hover" width="100%">
              <thead class="thead-light">
                <tr>
                  <th scope="col" width="35px">#</th>
                  <th scope="col" width="40px"></th>
                  <th scope="col" width="40px"></th>
                  <th scope="col" width="200px">Title</th>
                  <th scope="col" width="457px">Description</th>
                  <th scope="col" width="70px">Private</th>
                </tr>
              </thead>
              <tbody>
                {% for i in roles %}
                <tr>
                  <th scope="row">{{loop.index}}</th>
                  <td>Edit</td>
                  <td><a href="{{url_for('delRole', role_id = i.id)}}">Delete</a></td>
                  <td>{{i.title}}</td>
                  <td>{{i.description}}</td>
                  <td>{{i.authRequired}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
<!-- User Roles Row END -->

      <hr>

<!-- Screens Row -->
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <h3>Screens</h3>
            <p>Description</p>
              <!--<p><button type="button" class="btn btn-secondary btn-sm"
                  data-toggle="modal" data-target="#add-screen"
                  data-authRequired="No">Add a Screen &raquo;</button></p>-->
              <p><button type="button" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#add-screen">Add a Screen &raquo;</button></p>
                <br>

              <br>
          </div>
          <div class="col-md-9">
            <table class="table table-responsive table-sm table-hover" width="100%">
              <thead class="thead-light">
                <tr>
                  <th scope="col" width="35px">#</th>
                  <th scope="col" width="40px"></th>
                  <th scope="col" width="40px"></th>
                  <th scope="col" width="200px">Title</th>
                  <th scope="col" width="457px">Description</th>
                  <th scope="col" width="70px">Private</th>
                </tr>
              </thead>
              <tbody>
                {% for i in screens %}
                <tr>
                  <th scope="row">{{loop.index}}</th>
                  <td>Edit</td>
                  <td><a href="{{url_for('delScreen', screen_id = i.id)}}">Delete</a></td>
                  <td>{{i.title}}</td>
                  <td>{{i.description}}</td>
                  <td>{{i.authRequired}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
<!-- Screens Row END -->

        <hr>

<!-- Functions Row -->
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <h3>Functions</h3>
            <p>Description</p>
            <p><button type="button" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#add-function">Add a Function &raquo;</button></p>
              <br>
          </div>
          <div class="col-md-9">
            <table class="table table-responsive table-sm table-hover" width="100%">
              <thead class="thead-light">
                <tr>
                  <th scope="col" width="35px">#</th>
                  <th scope="col" width="40px"></th>
                  <th scope="col" width="40px"></th>
                  <th scope="col" width="200px">Title</th>
                  <th scope="col" width="457px">Description</th>
                  <th scope="col" width="70px">Private</th>
                </tr>
              </thead>
              <tbody>
                {% for i in functions %}
                <tr>
                  <th scope="row">{{loop.index}}</th>
                  <td>Edit</td>
                  <td><a href="{{url_for('delFunction', function_id=i.id)}}">Delete</a></td>
                  <td>{{i.title}}</td>
                  <td>{{i.description}}</td>
                  <td>{{i.authRequired}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
<!-- Functions Row END -->

    </main>

  {% include "footer.html" %}

  </body>
</html>
