<!doctype html>
<html lang="en">
  {% include "header.html" %}


  <body>
    <title>Project-Map - {{screen.title}}</title>

    {% include "menu.html" %}

    <!-- Jumbotron -->
    <main role="main" class="container">
      <div class="jumbotron" style="padding:1rem 2rem;">
        <h1>{{screen.title}} Screen</h1>
        <!--<p class="lead">{{screen.description}}
          {% if screen.description == "" %}<br>{% endif %}</p>
        <button type="button" class="btn btn-sm btn btn-outline-light" data-toggle="modal" data-target="#edit-project-details">Edit Details &raquo;</button>-->
      </div>
      <!-- End Jumbotron -->

<div class="container">
  <div class="row">
    <div class="col-md-12">
      Goal is to lay out stories for the page.<br>
    </div>
  </div>
  <!-- end of row -->

  <div class="row">
    <div class="col-md-12">
      <!-- Page User Stories -->

      Stories tied to the screen itself:<br>
      <p>
        {% for i in stories %}
          {% if i.hook == "screen" %}
            As a(n) {{i.role.title}}, when I {{i.action}} the {{i.screen.title}} screen, {{i.expectation}}.<br>
          {% endif %}
        {% endfor %}
      </p>
      <br>

      <!-- End Page Stories -->

    </div>
  </div>
  <!-- end of row -->


  <div class="row">
    <div class="col-md-12">
      <!-- Section & Element User Stories -->

      Section & Element User Stories

      <!-- End Section & Element Stories -->
    </div>
  </div>
  <!-- end of row -->

</div>
<!-- end of container -->


    </main>

  {% include "footer.html" %}

  </body>
</html>
