<!doctype html>
<html lang="en">
  {% include "header.html" %}


  <body>
    <title>Project-Map - {{screen.title}}</title>

    {% include "menu.html" %}


<!-- Jumbotron -->
    <main role="main" class="container">
      <div class="jumbotron" style="padding:1rem 2rem;">
        <h1>{{screen.title}}</h1>
        <p class="lead">{{screen.description}}
          {% if screen.description == "" %}<br>{% endif %}</p>
        <button type="button" class="btn btn-sm btn btn-outline-light" data-toggle="modal" data-target="#edit-project-details">Edit Details &raquo;</button>
      </div>
<!-- End Jumbotron -->

<!-- ROLE ACCESS -->
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <h3>Role Access</h3>
      </div>
      <div class="row">
        <table class="table table-responsive table-sm table-hover" width="100%">
          <thead class="thead-light">
            <tr>
              <th scope="col" width="55px">#</th>
              <th scope="col" width="200px">Role</th>
              <th scope="col" width="200px">Can access this screen?</th>
              <th scope="col" width="70px"></th>
            </tr>
          </thead>
          <tbody>
            {% for i in rolescreenaccess %}
            <tr>
              <th scope="row">{{loop.index}}</th>
              <td>{{i.Role.title}}</td>
              <td>
                <!-- KNOWN ISSUE
                If a new ROLE is created, it won't show up here until it has
                an entry in table RoleScreen. Likely will need to adjust the
                query in app.py for rolescreenaccess, to make it a left-join
                which would get all ROLES, and then append the RoleScreen data.
                This way, the "ELSE" statement below will take care of them
                automatically, showing them in the list, but giving "0" access
                -->
                {% if i.RoleScreen.access == "1" %}
                  YES
                {% else %}
                  NO
                {% endif %}</td>
              <td><a href='{{url_for('flipRoleScreen', role_id=i.RoleScreen.role_id, screen_id=i.RoleScreen.screen.id)}}'>Edit</a></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>

      </div>
    </div>

    <div class="col-md-6">
      <h3>This page contains a KNOWN ISSUE</h3>
      <p>ROLES won't show up here until they have an entry in table RoleScreen.
      Likely will need to adjust the query in app.py for rolescreenaccess,
      to make it a left-join which would get all ROLES, and then append the
      RoleScreen table data. This way, the "ELSE" statement below will take
      care of them automatically, showing them in the list,
      but giving "0" access.</p>

      <p>Currently, I'm using an Inner Join, which also creates the issue of
      duplicate entries in the Role Access table, when a ROLE does have an
      entry in the RoleScreen table.</p>
    </div>
  </div>
</div>

<!-- END ROLE ACCESS -->

<!-- SECTIONS -->
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3>Sections</h3>
      <p>Sections will appear here as colored "boxes". Title/description will
        appear at top of each box, with an edit and delete button. Cards
        will appear within for each defined "element" that will appear in the
        section. Cards will contain edit button, allowing adjustment of
        title/description as well as a delete element button. Similar to
        "Project" page's Roles/Screens, a 'ghost' card will also exist,
        allowing addition of new elements within the section.</p>
        <p>Below the last section, a button will appear, allowing the addition
          of a new section. Will need to give some thought to allowing
          user to reorder the sections, as likely this will become a ux issue.<p>
    </div>
  </div>
</div>
<!-- END SECTIONS -->


    </main>

  {% include "footer.html" %}

  </body>
</html>
