<!doctype html>
<html lang="en">
  {% include "header.html" %}


  <body>
    <title>Project-Map - {{screen.title}}</title>

    {% include "menu.html" %}
    {% include "modals/createsection.html" %}
    {% include "modals/editscreen.html" %}

<!-- Jumbotron -->
    <main role="main" class="container">
      <div class="jumbotron" style="padding:1rem 2rem;">
        <h1>{{screen.title}} Screen</h1>
        <!--<p class="lead">{{screen.description}}
          {% if screen.description == "" %}<br>{% endif %}</p>
        <button type="button" class="btn btn-sm btn btn-outline-light" data-toggle="modal" data-target="#edit-project-details">Edit Details &raquo;</button>-->
      </div>
<!-- End Jumbotron -->

<!-- ROLE ACCESS -->
<div class="container">
  <div class="row">
    <div class="col-md-6 mb-3">
        <h3>Role Access</h3>
        <table class="table table-responsive table-sm table-hover" width="100%">
          <thead class="thead-light">
            <tr>
              <th scope="col" width="245px">Role</th>
              <th scope="col" width="200px">Can access this screen?</th>
              <th scope="col" width="45px"></th>
            </tr>
          </thead>
          <tbody>
            <!-- adding rows for roles that ARE in RoleScreen already -->
            {% for i in roleaccess %}
            <tr>
              <td>{{i.title}}</td>
              <td>{% if i.access == "1" %}YES
                {% else %}NO{% endif %}</td>
              <td><a href='{{url_for('flipRoleScreen', role_id=i.id, screen_id=screen.id)}}'>Edit</a></td>
            </tr>
            {% endfor %}
            <!-- adding rows for roles that are NOT in RoleScreen already -->
            {% for i in newroles %}
            <tr>
              <td>{{i.title}}</td><td>NO</td>
              <td><a href='{{url_for('flipRoleScreen', role_id=i.id, screen_id=screen.id)}}'>Edit</a></td>
            </tr>
            {% endfor %}

          </tbody>
        </table>
      </div>

    <div class="col-md-6">
      <h3>Description</h3>
      <p>{{screen.description}}</p>
      <p>Need edit and delete buttons for Sections. Will need to give some thought to allowing user to reorder the sections, as likely this will become a ux issue.<p>
      <button type="button" class="btn btn-sm btn btn-outline-secondary" data-toggle="modal" data-target="#edit-screen">Edit Details &raquo;</button>
    </div>
  </div>
</div>
<!-- END ROLE ACCESS -->

<!-- SECTIONS -->
<div class="container">
  <div class="row">
    <div class="col-md-12 mb-3">
      <h3>Sections</h3>
    </div>
  </div>
  {% for i in screenSections %}
  <div class="row mb-3">
    <div class="col-md-12">
      <div class="card text-center" style="background-color:#fefefe;">
        <div class="card-header text-left">
          <span style="float:left;"><h5>{{i.section.title}} <a href="{{url_for('editSection', section_id=i.section_id)}}" style="color:#999;font-size:.75rem;">[edit]</a></h5></span>
          <span style="float:right;text-align:right;padding:.2rem;font-size:.8rem;"><p class="card-text">{{i.section.description}} <a href="{{url_for('editSection', section_id=i.section_id)}}" style="color:#999;font-size:.75rem;">[edit]</a></p></span>
        </div>
        <div class="card-body">
          <!--<h5 class="card-title">Special title treatment</h5>-->
          <p class="card-text">Element Cards for the section will go here, including title, description, and remove button.
          Will also have a "Ghost" card, to add new elements.</p>

          <div class="container">
            <div class="row">

              <!-- Element Card -->
                {% for a in sectionElements %}
                {% if a.section_id == i.section_id %}
                <div class="col-md-3" style="margin-bottom:2rem;">
                  <div class="card">
                    <div class="card-body" style="word-break:unset;">
                      <h5 class="card-title" style="font-size:1rem">{{a.element.title}}</h5>
                      <p class="card-text" style="font-size:.8rem;">{{a.element.description}}</p>
                      <span style="float:right;"><a href="#" class="btn btn-sm btn-outline-danger">Delete</a></span>
                    </div>
                  </div>
                </div>
                {% endif %}
                {% endfor %}
                <!-- END Element Card -->

                <!-- ADD Ghost-Box -->
                <div class="col-md-3" style="margin-bottom:2rem;">
                  <div class="card" style="background-clip: text;color: #999;border: 1px solid #C9C9C9;box-sizing:content-box;">
                    <div class="card-body" style="word-break:unset;">
                      <h5 class="card-title" style="font-size:1rem">Need More?</h5>
                      <!--<a href="#" class="btn btn-sm btn-secondary" style="float:right;">Click Here</a>-->

                      <form action="{{url_for('newElement', section_id=i.id)}}">
                        <center><button class="btn btn-secondary btn-sm" type="submit">Add an Element &raquo;</button></center>
                      </form>

                    </div>
                  </div>
                </div>
                <!-- END Ghost-Box -->

            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  {% endfor %}

  <p style="float:right;"><button type="button" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#add-section">Add a Section &raquo;</button></p>
</div>
<!-- END SECTIONS -->


    </main>

  {% include "footer.html" %}

  </body>
</html>
