<!doctype html>
<html lang="en">
  {% include "header.html" %}


  <body>
    <title>Project-Map - Edit {{org.title}}</title>

    {% include "menu.html" %}

  <body class="bg-light">

    <div class="container">
      <div class="py-5 text-center">
        <h2>Editing {{org.title}}</h2>
        <p class="lead">Use the form below to edit {{org.title}},
        but be careful!</p>
      </div>


      <div class="row">
        <div class="col-md-2">
        </div>

        <!-- FORM -->
        <div class="col-md-8">
          <form class="needs-validation" action='{{url_for('editOrg', org_id=org.id)}}' method='post' novalidate>
            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="orgtitle">Org title</label>
                <input type="text" class="form-control" id="orgtitle" placeholder="{{org.title}}" name="orgtitle" required>
                <div class="invalid-feedback">
                  Valid Org name is required.
                </div>
              </div>
            </div>

            <div class="mb-3">
              <label for="orgdesc">Org Description <span class="test-muted">(Optional)</span></label>
              <input type="text" class="form-control" id="orgdesc" placeholder="{{org.description}}" name="orgdesc">
              <div class="invalid-feedback">
                Please enter a valid org description.
              </div>
            </div>

            <hr class="mb-4">
            <div class="row">
              <div class="col-md-6 mb-3">
                <button class="btn btn-primary btn-lg btn-block" type="Edit">Continue</button>
              </div>
          </form>
              <div class="col-md-6 mb-3">
                <form action="{{url_for('orgPage', org_id = org.id)}}">
                  <button class="btn btn-secondary btn-lg btn-block" type="submit">Cancel</button>
                </form>
              </div>
            </div>
        </div>
        <!-- END FORM -->

        <div class="col-md-2">
        </div>

      </div>
    </div>

  {% include "footer.html" %}

  </body>
</html>
